<h2 style="margin-top: 50px;">Películas Favoritas ♥</h2>
<div *ngFor="let movie of listafav">
    <div class="row  rounded-3 border shadow-lg bg-light "
    style="width: 480px; height: 100px; margin-left: auto; margin-right: auto;margin-top: 20px; cursor: pointer;"  [routerLink]="['/','movie',movie.id]">
    <div style="display: flex;">
        
        <img src="https://image.tmdb.org/t/p/original{{movie.poster}}" alt="" style="width: 100px; height: 100px; margin-left: 10px; margin-right: 10px;">
     <h5 >{{movie.titulo}}</h5>
    </div>
         
    </div>
    
</div>